:root {
  --bg-color: #fff;
  --detail-bg-color: #e2b868;
  --title-bg-color: #6623F0;
  --white-color: #fff;
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Thin.ttf);
}

@font-face {
  font-family: Montserrat-Bold;
  src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: RobotoBold;
  src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: RobotoMedium;
  src: url(../fonts/Roboto-Medium.ttf);
}

body {
  font-family: Montserrat;
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
}

/* Header */

.header-container {
  background-color: #FF7746;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(94,993,747)'%3E%3Cstop offset='0' stop-color='%23FF7746'/%3E%3Cstop offset='1' stop-color='%23601DFF'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='858' height='715' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.04'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  height: 520px;
  width: 100%;
}

.header-icons {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130.5px;
  top: 48px;
  left: 60%;
  
}

.header-icons .round-icons {
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid var(--white-color);
  border-radius: 50%;
  font-size: 20px;
}

.header-icons .round-icons :hover {
  color: var(--white-color);
  background-color: #e2b868 ;
  border: 1px solid var(--white-color);
  transition: all 200ms ease-in;
}

.header-icons a {
  text-decoration: none;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  color: var(--bg-color);
  height: 100%;
}

.header-text {
  padding-right: 20px;
  grid-column-start: 2;
  grid-row-start: 2;
  grid-column-end: 5;
}

.header-text .name-header {
  text-transform: uppercase;
  font-family: Roboto;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 4%;
}

.header-text .name{
  font-family: Roboto;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 4%;
}

.role-1 {
  font-family: Roboto;
  letter-spacing: 4%;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  margin: 0;
}

.role-2 {
  font-family: Roboto;
  letter-spacing: 4%;
  font-weight: 700;
  font-size: 24px;
  line-height: 49px;
  margin: 0;
}

.profile-img {
  position: absolute;
  width: 180px;
  height: 180px;
  right: 24px;
  top: 356px;
  border-radius: 50%; 
  object-fit: cover;
  border: var(--bg-color) 2px solid;
}

/* Sections start */

.section:nth-child(2n) {
  background-color: #F4F4F4
}

.intro-section {
  padding: 49px;
  line-height: 28px;
}

.intro-section article {
  min-width: 300px;
  margin: 0 40px
}

.intro-section .intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-section p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 29px;
}

.line {
  border: 1px solid var(--title-bg-color);
  width: 55px;
  left: 24px;
  top: 579px;
  display: inline-block;
  margin-bottom: 4px;
}

.dot {
  height: 11px;
  width: 11px;
  background-color: var(--title-bg-color);
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.heading {
  font-family: Montserrat-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: var(--white-color);
  text-transform: uppercase;
  padding: 40px 0 10px 0;

}

.tech-section {
  padding-bottom: 20px;
  font-size: 17px;
  line-height: 29px;
  text-align: center;
}

.tech-container {
  margin: 0 40px;
}

.portfolio-section {
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 50px;
}

.img {
  display: block;
  width: 100%;
}

.portfolio-section article {
  margin-top: 25px;
}

.container {
  width: 327px;
  margin: 0 auto;
}

.heading .text-bakground {
  padding: 3px;
  background-color: var(--title-bg-color);
}

.projects-title {
  font-family: RobotoBold;
  font-size: 17px;
  line-height: 29px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--title-bg-color);
  margin-bottom: 5px;
}

.projects-text {
  font-family: Roboto;
  line-height: 29px;
  margin: 0;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 1%;
}

.word-box {
  font-family: Roboto;
  font-size: 9px;
  line-height: 11px;
  text-align: center;
  letter-spacing: 0.01em;
  padding: 5px;
  background-color: #c0abd1;
  /* background-color: #b0cec6; */
}

.project-3, .project-4 {
  display: none;
}

.heading-other-projects {
  color: var(--title-bg-color);
  text-transform: uppercase;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  padding: 40px 0 0 0;
  font-weight: 700;
}

.other-projects-section {
  padding-bottom: 20px;
}

.other-projects-title {
 text-transform: uppercase;
 color: var(--title-bg-color);
 font-size: 17px;
 line-height: 29px;
 font-weight: 700;
}

.arrow-link {
  color: var(--title-bg-color);
}

/* my thoughts section */

.mythoughts-section {
  padding-top: 20px;
  padding-bottom: 30px;
}
.thoughts-list ul { 
  padding: 0;
}
.thoughts-list li {
  list-style: none;
}

.more-thoughts-section {
 padding-bottom: 20px;
}

/* skills section */

.skills-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.skill-wrapper {
  display: flex;
  justify-content: space-around;
  min-width: 300px;
}

.list-title {
  color: var(--title-bg-color);
  text-transform: uppercase;
}

.skill-wrapper ul {
  padding: 0;
}

.skill-wrapper li {
  text-transform: uppercase;
  list-style: none;
}

.skill-wrapper .list-item {
  padding: 5px;
}

/* for more section */

.more-wrapper {
  display: flex;
  justify-content: center;
}
.more-wrapper ul {
  padding: 0;
}
.more-wrapper li {
  padding: 10px;
  display: inline-block;
  list-style: none;
}

/* contact section */

.contact-section {
  padding: 40px 0;
  background-color: #FF7746;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(94,993,747)'%3E%3Cstop offset='0' stop-color='%23FF7746'/%3E%3Cstop offset='1' stop-color='%23601DFF'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='858' height='715' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.04'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.contact-wrapper ul {
  padding: 0;
}

.contact-heading {
  margin-bottom: 30px;
}

.contact-wrapper li {
  color: var(--white-color);
  list-style: none;
  text-align: center;
  padding: 2px 0;
}

@media (min-width: 1100px) {
  .header-container {
    height: 668px;
  }

  .all-icons {
    right: 170px;
  }

  .header-text .name {
    font-size: 20px;
  }

  .header-text .name-header {
  font-size: 26px;
  }

  .role {
    font-size: 100px;
    line-height: 105px;
  }

  .heading {
    font-size: 48px;
  }

  .profile-img {
    position: absolute;
    width: 333px;
    height: 333px;
    right: 80px;
    top: 378px;
  }

  .container {
    display: flex;
    justify-content: center;
  }

  .intro-section .intro-container {
    display: flex;
    justify-content: center;
  }

  .intro-section p {
    font-size: 30px;
  }

  .intro-section article {
    width: 1000px;
  }

  .tech-container {
    display: flex;
    justify-content: center;
  }

  .tech-section article, .other-projects-section article {
    font-size: 30px;
    width: 1000px;
  }

  .project-wrapper {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-gap: 40px;
  }

  .project-3, .project-4 {
    display: block;
  }

  .img, .image {
    display: block;
    width: 300px;
  }

  .projects-text {
    font-size: 25px;
    line-height: 41px;
    margin: 0;
    font-weight: 400;
  }

  .other-projects-section article {
    width: 1000px;
  }

  .heading-other-projects {
    font-size: 38px;
    line-height: 47px;
  }

  .other-projects-title {
    font-size: 25px;
    line-height: 33px;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mythougts-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
  }
}

@media (min-width: 768px) {

  .header-icons {
    left: 80%;
  }
}