:root {
  --bg-color: whitesmoke;
  --detail-bg-color: #e2b868;
  --title-bg-color: #ed7e4f;
  --white-color: #fff;
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Thin.ttf);
}

@font-face {
  font-family: Montserrat-Bold;
  src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: RobotoBold;
  src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: RobotoMedium;
  src: url(../fonts/Roboto-Medium.ttf);
}

body {
  font-family: Montserrat;
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
}

/* Header */
.header-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url(../img/nature.jpg);
  background-size: cover;
  height: 520px;
  width: 100%;
}

.icons {
  padding: 2px;
  width: 40px;
  height: 40px;
}

.all-icons {
  position: absolute;
  top: 48px;
  right: 24.5px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  color: var(--bg-color);
  height: 100%;
}

.header-text {
  padding-right: 20px;
  grid-column-start: 2;
  grid-row-start: 2;
  grid-column-end: 3;
}

.header-text .name-header {
  text-transform: uppercase;
  font-family: Roboto;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 4%;
}

.header-text .name{
  font-family: Roboto;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 4%;
}

.role {
  font-family: Roboto;
  letter-spacing: 4%;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  margin-top: 0;
}

.profile-img {
  position: absolute;
  width: 180px;
  height: 180px;
  right: 24px;
  top: 356px;
  border-radius: 50%; 
  object-fit: cover;
  border: var(--bg-color) 2px solid;
}


/* Header ends */


/* Sections start */

.section:nth-child(2n) {
  background-color: #F4F4F4
}
/* bd7676 */
.intro-section {
  margin-top: 49px;
  line-height: 28px;
}

.intro-section article {
  min-width: 300px;
  margin: 0 40px
}

.intro-section .intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-section p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 29px;
}

.line {
  border: 1px solid var(--title-bg-color);
  width: 55px;
  left: 24px;
  top: 579px;
  display: inline-block;
  margin-bottom: 4px;
}

.dot {
  height: 11px;
  width: 11px;
  background-color: var(--title-bg-color);
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.heading {
  font-family: Montserrat-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: var(--white-color);
  text-transform: uppercase;
  padding: 40px 0 10px 0;

}

.tech-section {
  font-size: 17px;
  margin-top: 50px;
  line-height: 29px;
  text-align: center;
}

.tech-container {
  margin: 0 40px;
}

.portfolio-section {
  margin-top: 50px;
  line-height: 28px;
}

.img {
  display: block;
  width: 100%;
}

.portfolio-section article {
  margin-top: 25px;
}

.container {
  width: 327px;
  margin: 0 auto;
}

.heading .text-bakground {
  padding: 3px;
  background-color: var(--title-bg-color);
}

.projects-title {
  font-family: RobotoBold;
  font-size: 17px;
  line-height: 29px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--title-bg-color);
  margin-bottom: 5px;
}

.projects-text {
  font-family: Roboto;
  line-height: 29px;
  margin: 0;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 1%;
}

.word-box {
  font-family: Roboto;
  font-size: 9px;
  line-height: 11px;
  text-align: center;
  letter-spacing: 0.01em;
  padding: 5px;
  background-color: #b0cec6;
}

.project-3, .project-4 {
  display: none;
}

/* Other projects */

/* .heading-other {
  margin-top: 50px;
  background-color: var(--title-bg-color);
} */

.heading-other-projects {
  color: var(--title-bg-color);
  text-transform: uppercase;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  padding: 40px 0 0 0;
  font-weight: 700;
}

.other-projects-title {
 text-transform: uppercase;
 color: var(--title-bg-color);
 font-size: 17px;
 line-height: 29px;
 font-weight: 700;
}

.arrow-link {
  color: var(--title-bg-color);
}

/* my thoughts section */

.mythoughts-section {
  margin-top: 50px;
}
.thoughts-list ul { 
  padding: 0;
}
.thoughts-list li {
  list-style: none;
}

/* skills section */
.skills-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skill-wrapper {
  display: flex;
  justify-content: space-around;
  min-width: 300px;
}

.list-title {
  color: var(--title-bg-color);
  text-transform: uppercase;
}

.skill-wrapper ul {
  padding: 0;
}

.skill-wrapper li {
  text-transform: uppercase;
  list-style: none;
}

.skill-wrapper .list-item {
  padding: 5px;
}

/* for more section */
.more-wrapper {
  display: flex;
  justify-content: center;
}
.more-wrapper ul {
  padding: 0;
}
.more-wrapper li {
  padding: 10px;
  display: inline-block;
  list-style: none;
}

/* contact section */
.contact-section {
  padding: 40px 0;
  background-color: #7EB5A6;
}

.contact-wrapper ul {
  padding: 0;
}

.contact-heading {
  margin-bottom: 30px;
}

.contact-wrapper li {
  color: var(--white-color);
  list-style: none;
  text-align: center;
  padding: 2px 0;
}

@media (min-width: 1100px) {
  .header-container {
    height: 668px;
  }

  .all-icons {
    right: 170px;
  }

  .header-text .name {
    font-size: 20px;
  }

  .header-text .name-header {
  font-size: 26px;
  }

  .role {
    font-size: 100px;
    line-height: 105px;
  }

  .heading {
    font-size: 48px;
  }

  .profile-img {
    position: absolute;
    width: 333px;
    height: 333px;
    right: 80px;
    top: 378px;
  }

  .container {
    display: flex;
    justify-content: center;
  }

  .intro-section .intro-container {
    display: flex;
    justify-content: center;
  }

  .intro-section p {
    font-size: 30px;
  }

  .intro-section article {
    width: 1000px;
  }

  .tech-container {
    display: flex;
    justify-content: center;
  }

  .tech-section article, .other-projects-section article {
    font-size: 30px;
    width: 1000px;
  }

  .project-wrapper {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-gap: 40px;
  }

  .project-3, .project-4 {
    display: block;
  }

  .img, .image {
    display: block;
    width: 300px;
  }

  .projects-text {
    font-size: 25px
    line-height: 41px;
    margin: 0;
    font-weight: 400;
  }
/* 
  .other-projects-section .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */

  .other-projects-section article {
    width: 1000px;
  }

  .heading-other-projects {
    font-size: 38px;
    line-height: 47px;
  }

  .other-projects-title {
    font-size: 25px;
    line-height: 33px;
   }


  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mythougts-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;

  }
}