:root {
  --bg-color: #fff;
  --detail-bg-color: #e2b868;
  --title-bg-color: #c7926c;
  --white-color: #fff;
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Thin.ttf);
}

@font-face {
  font-family: Montserrat-Bold;
  src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: RobotoBold;
  src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: RobotoMedium;
  src: url(../fonts/Roboto-Medium.ttf);
}

body {
  font-family: Montserrat;
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
}

/* Header */

.header-container {
  background-color: #330000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%233BDD9F'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  height: 420px;
  width: 100%;
}

.header-icons {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130.5px;
  top: 48px;
  right: 48px;
}

.header-icons .round-icons {
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid var(--white-color);
  border-radius: 50%;
  font-size: 20px;
}

.fa-linkedin-in {
  margin-right: 6px;
}

.fa-github {
  margin-right: 6px;
}

.header-icons .round-icons:hover {
  color: var(--white-color);
  background-color: #e2b868 ;
  border: 2px solid var(--white-color);
  transition: all 200ms ease-in;
}

.header-icons a {
  text-decoration: none;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  color: var(--bg-color);
  height: 100%;
}

.header-text {
  padding-right: 20px;
  grid-column-start: 2;
  grid-row-start: 2;
  grid-column-end: 6;
}

.header-text .name-header {
  text-transform: uppercase;
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 4%;
}

.header-text .name{
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 4%;
}

.role-1 {
  font-family: Roboto;
  letter-spacing: 4%;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  margin: 0;
}

.role-2 {
  font-family: Roboto;
  letter-spacing: 4%;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.profile-img {
  position: absolute;
  width: 180px;
  height: 180px;
  right: 24px;
  top: 296px;
  border-radius: 50%; 
  object-fit: cover;
  border: var(--bg-color) 2px solid;
}

/* Sections start */

.section:nth-child(2n) {
  background-color: #F4F4F4
}

.intro-section {
  padding: 49px;
  line-height: 28px;
}

.intro-section article {
  min-width: 300px;
  margin: 0 40px
}

.intro-section .intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-section p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 29px;
}

.line {
  border: 1px solid var(--title-bg-color);
  width: 55px;
  left: 24px;
  top: 579px;
  display: inline-block;
  margin-bottom: 4px;
}

.dot {
  height: 11px;
  width: 11px;
  background-color: var(--title-bg-color);
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.heading {
  font-family: Montserrat-Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: var(--white-color);
  text-transform: uppercase;
  padding: 40px 0 10px 0;

}

.tech-section {
  padding-bottom: 20px;
  font-size: 17px;
  line-height: 29px;
  text-align: center;
}

.tech-container {
  margin: 0 40px;
}

.portfolio-section {
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 50px;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
}

.image-container {
  position: relative;
}

.image-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
	width: 100%;
  height: 100%;
  font-size: 22px;
  color: white;
  margin: 0;
}

.img {
  display: block;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: 0.5s ease;
}

.card:hover .overlay {
	opacity: 1;
}

.portfolio-section article {
  margin-top: 25px;
}

.container {
  width: 327px;
  margin: 0 auto;
}

.heading .text-bakground {
  padding: 3px;
  background-color: var(--title-bg-color);
}

a {
  text-decoration: none;
}
.projects-title {
  font-family: RobotoBold;
  font-size: 17px;
  line-height: 29px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--title-bg-color);
  margin-bottom: 5px;
}

.projects-text {
  font-family: Roboto;
  line-height: 29px;
  margin: 0;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 1%;
}

.word-box {
  font-family: Roboto;
  font-size: 9px;
  line-height: 11px;
  text-align: center;
  letter-spacing: 0.01em;
  padding: 5px;
  background-color: #8cc7af;
}

.heading-other-projects {
  color: var(--title-bg-color);
  text-transform: uppercase;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  padding: 40px 0 0 0;
  font-weight: 700;
}

.other-projects-section {
  padding-bottom: 20px;
}

.other-projects-title {
 text-transform: uppercase;
 color: var(--title-bg-color);
 font-size: 17px;
 line-height: 29px;
 font-weight: 700;
}

.arrow-link {
  color: var(--title-bg-color);
}

/* my thoughts section */

.mythoughts-section {
  padding-top: 20px;
  padding-bottom: 30px;
}
.thoughts-list ul { 
  padding: 0;
}
.thoughts-list li {
  list-style: none;
}

.more-thoughts-section {
 padding-bottom: 20px;
}

/* skills section */

.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  
}
.skill-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
}

.skill-ul {
  width: 100%;
  text-align: center;
}

.list-title {
  color: var(--title-bg-color);
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}

.skill-wrapper ul {
  padding: 0;
}

.skill-wrapper li {
  text-transform: uppercase;
  list-style: none;
}

.skill-wrapper .list-item {
  padding: 5px;
}

/* for more section */

.formore-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.formore-icons .round-icons {
  color: var(--title-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid var(--title-bg-color);
  border-radius: 50%;
  font-size: 20px;
}

.formore-icons .round-icons:hover {
  color: var(--white-color);
  background-color: #e2b868 ;
  border: 2px solid var(--white-color);
  transition: all 200ms ease-in;
}

.formore-icons a {
  text-decoration: none;
}

/* contact section */

.contact-section {
  width: 100%;
  height: 100%;
  padding: 40px 0;
  background-color: #330000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%233BDD9F'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.contact-wrapper ul {
  padding: 0;
}

.contact-heading {
  margin-bottom: 30px;
}

.contact-wrapper li {
  color: var(--white-color);
  list-style: none;
  text-align: center;
  padding: 2px 0;
}

/* TABLET */

@media (min-width: 768px) {

  .portfolio-section .card {
    display: flex;
    flex-direction: column;
    margin: 15px;
  }
  
  .portfolio-section .container {
    width: 100%;
    margin: 0px 
  }
  
  .project-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
  }

  .img {
    width: 100%;
  }

  .skills-section .container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .skill-wrapper {
    flex-direction: row;
    align-items: unset;
  }

  .skill-ul {
    text-align: left;
  }
}

/* DESKTOP */

@media (min-width: 1025px) {
  .header-container {
    height: 668px;
  }

  .header-text .name {
    font-size: 20px;
  }

  .header-text .name-header {
  font-size: 26px;
  }

  .role-1 {
    font-size: 60px;
    line-height: 105px;
  }

  .role-2 {
    font-size: 24px;
  }

  .heading {
    font-size: 48px;
  }

  .profile-img {
    position: absolute;
    width: 333px;
    height: 333px;
    right: 80px;
    top: 378px;
  }

  .container {
    display: flex;
    justify-content: center;
  }

  .intro-section .intro-container {
    display: flex;
    justify-content: center;
  }

  .intro-section p {
    font-size: 30px;
  }

  .intro-section article {
    width: 1000px;
  }

  .tech-container {
    display: flex;
    justify-content: center;
  }

  .tech-section article, .other-projects-section article {
    font-size: 30px;
    width: 1000px;
  }

  .img {
    display: block;
    width: 100%;
  }

  .portfolio-section .card {
    width: 400px;
    margin: 25px;
  }

  .project-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }  

  .projects-text {
    font-size: 25px;
    line-height: 41px;
    margin: 0;
    font-weight: 400;
  }

  .other-projects-section article {
    width: 1000px;
  }

  .heading-other-projects {
    font-size: 38px;
    line-height: 47px;
  }

  .other-projects-title {
    font-size: 25px;
    line-height: 33px;
  }

  .mythougts-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
  }
}


